/* *{
    box-sizing: content-box;
 } */
 
.sadrzaj h1{
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px blue;
 }
body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(-45deg, #cf8d78, #d87fa1, #81bcd1, #88dfcb);
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;

}

.sadrzaj{
    max-width: 785px;
    margin: auto;
    overflow: auto;
    border: rgba(201, 252, 221, 0.808);
}
.galerija{
    margin: auto;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}
.galerija img{
    width: 100%;
    height: 250px;
}
.desc{
    padding: 15px;
    text-align: center;
    color: lavender;
    background-color: rgb(47, 106, 114);
}


/* ovo je za srebrno jezero */

.srebrno{
    margin: 100px 100px 100px 100px;
    max-width: 1300px;
    background-color: lightcyan;
    overflow: auto;
    border: 1px dotted rgb(235, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leviDeo1{
    
    grid-column-start: 1;
    grid-column-end: 2;
}
.desniDeo1{

    grid-column-start: 2;
    grid-column-end: 3;
    padding: 15px;
}
.srebrno img{
    width: 500px;
    height: 340px;
}
.srebrno p{
    text-align: justify;

}


/* kopanoik */


.kopaonik{
    margin: 100px 100px 100px 100px;
    max-width: 1300px;
    background-color: rgb(217, 252, 252);
    overflow: auto;
    border: 1px dotted rgb(235, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leviDeo2{
    
    grid-column-start: 1;
    grid-column-end: 2;
}
.desniDeo2{

    grid-column-start: 2;
    grid-column-end: 3;
    padding: 15px;
}
.kopaonik img{
    width: 500px;
    height: 100%;
}

.kopaonik p{
    text-align: justify;

}






/* stara planina */


.stara{
    margin: 100px 100px 100px 100px;
    max-width: 1300px;
    background-color: lightcyan;
    overflow: auto;
    border: 1px dotted rgb(235, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leviDeo3{
    
    grid-column-start: 1;
    grid-column-end: 2;
}
.desniDeo3{

    grid-column-start: 2;
    grid-column-end: 3;
    padding: 15px;
}
.stara img{
    width: 500px;
    height: 300px;
}
.stara p{
    text-align: justify;

}



/* tara */

.tara{
    margin: 100px 100px 100px 100px;
    max-width: 1300px;
    background-color: lightcyan;
    overflow: auto;
    border: 1px dotted rgb(235, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leviDeo4{
    
    grid-column-start: 1;
    grid-column-end: 2;
}
.desniDeo4{

    grid-column-start: 2;
    grid-column-end: 3;
    padding: 15px;
}
.tara img{
    width: 500px;
    height: 100%;
}
.tara p{

    text-align: justify;
}

/* zlatibor */

.zlatibor{
    margin: 100px 100px 100px 100px;
    max-width: 1300px;
    background-color: lightcyan;
    overflow: auto;
    border: 1px dotted rgb(235, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leviDeo5{
    
    grid-column-start: 1;
    grid-column-end: 2;
}
.desniDeo5{

    grid-column-start: 2;
    grid-column-end: 3;
    padding: 15px;
}
.zlatibor img{
    width: 500px;
    height: 100%;
}
.zlatibor p{
    text-align: justify;

}




/* vrnjacka banja */


.vrnjacka{
    margin: 100px 100px 100px 100px;
    max-width: 1300px;
    background-color: lightcyan;
    overflow: auto;
    border: 1px dotted rgb(235, 175, 175);
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.leviDeo6{
    
    grid-column-start: 1;
    grid-column-end: 2;
}
.desniDeo6{

    grid-column-start: 2;
    grid-column-end: 3;
    padding: 15px;
}
.vrnjacka img{
    width: 600px;
    height: 400px;
}
.vrnjacka p{
    text-align: justify;
}

#footer {
    position: relative;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 60px;
     background-color: whitesmoke;
     text-align: center !important;
     align-items:center;
     justify-content:center;
     margin: auto;
     opacity: 0.5;
 }







