
 body{
     min-height: 0;
     padding: 0;
     background-image: url('https://cdn.pixabay.com/photo/2019/10/28/10/37/belgrade-4583965_960_720.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;

 }


 h1{
     color: white;
     text-align: center;
     text-shadow: 2px 2px;

 }


.ceo{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    grid-column-gap: 15px;

}

.prviDiv{
    background: rgb(0, 0, 0, .7);
}
.prviDiv .boja{
    color:red;
}
.prviDiv p{
    color: white;
    margin: auto;
    padding: 15px;
    font-size: large;
    justify-content: center;
 }


.drugiDiv{
    background: rgb(0, 0, 0, .7);
}
.drugiDiv .boja{
    color:red;
}
.drugiDiv p{
    color: white;
    margin: auto;
    padding: 15px;
    font-size: large;
    justify-content: center;
 }



 .treciDiv{
    background: rgb(0, 0, 0, .7);
}
.treciDiv .boja{
    color:red;
}
.treciDiv p{
    color: white;
    margin: auto;
    padding: 15px;
    font-size: large;
    justify-content: center;
 }

 #footer {
     position: relative;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 60px;
     background-color: whitesmoke;
     text-align: center !important;
     align-items:center;
     justify-content:center;
     margin: auto;
     opacity: 0.5;
 }

@media (max-width: 500px){
    .prvaKlasa{
        height: fit-content;
    }
    p{
        font-size: 10px;
    }
    
    
}
